[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/hardmode"]
	path = bundle/hardmode
	url = https://github.com/wikitopian/hardmode.git
