[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-hardtime"]
	path = bundle/vim-hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dev/stlink"]
	path = dev/stlink
	url = https://github.com/texane/stlink.git
[submodule "bundle/swift.vim"]
	path = bundle/swift.vim
	url = https://github.com/keith/swift.vim
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = https://github.com/universal-ctags/ctags
[submodule "bundle/robotframework-vim"]
	path = bundle/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
