[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-hardtime"]
	path = bundle/vim-hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dev/stlink"]
	path = dev/stlink
	url = https://github.com/texane/stlink.git
[submodule "bundle/swift.vim"]
	path = bundle/swift.vim
	url = https://github.com/keith/swift.vim
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = https://github.com/universal-ctags/ctags
[submodule "bundle/robotframework-vim"]
	path = bundle/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-vue"]
	path = bundle/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "bundle/vim-rainbow"]
	path = bundle/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow.git
[submodule "bundle/vim-lightline"]
	path = bundle/vim-lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
